{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>ChercherTrouver</title>
  </head>
  <body>
    <header class="wrapper">
      <nav>
        <ul>
          <li>
            <form class="logout-link" action = {% url 'accounts:accouts_logout' %} method="POST">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
